{% include base_path %}

{% if experience.header.teaser %}
  {% capture teaser %}{{ experience.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if certification.id %}
  {% assign title = experience.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = experience.title %}
{% endif %}

<div class="list__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    {% if experience.teaser %}
      <div class="archive__item-teaser">
        <img src=
          {% if experience.teaser contains "://" %}
            "{{ experience.teaser }}"
          {% else %}
            "{{ experience.teaser | prepend: "/images/" | prepend: base_path }}"
          {% endif %}
          alt="">
      </div>
    {% endif %}

    <h2 class="archive__item-title" itemprop="headline">
      {% if experience.URL %}
        <a href="{{ experience.URL }}">{{ experience.title }}</a> <a href="{{ base_path }}{{ experience.url }}" rel="permalink"><i class="fa fa-link" aria-hidden="true" title="permalink"></i><span class="sr-only">Permalink</span></a>
      {% else %}
        <a href="{{ base_path }}{{ experience.url }}" rel="permalink">{{ experience.title }}</a>
      {% endif %}
    </h2>

    {% if experience.read_time %}
      <p class="page__meta"><i class="fa fa-clock-o" aria-hidden="true"></i> {{ experience.read_time }} min read</p>
    {% endif %}

    <p>Venue: <i>{{ experience.venue }}</i> {{ experience.from | date: "%B %d, %Y" }} - 
      {% if experience.to %}
        {{ experience.to | date: "%B %d, %Y" }}
      {% else %}
        present
      {% endif %}
      </p>


    {% if experience.location %}
      <p>Location: {{ experience.location }}</p>
    {% endif %}

    {% if experience.excerpt %}
      <p class="archive__item-excerpt" itemprop="description">{{ experience.excerpt }}</p>
    {% endif %}

    {% if experience.details %}
      <ul>
        {% for detail in experience.details %}
          <li>{{ detail }}</li>
        {% endfor %}
      </ul>
    {% endif %}

    {% if experience.citation and experience.documenturl %}
      <p>Recommended citation: {{ experience.citation }}<br /><a href="{{ experience.documenturl }}">Download Experience Document</a></p>
    {% elsif experience.citation %}
      <p>Recommended citation: {{ experience.citation }}</p>
    {% elsif experience.documenturl %}
      <p><a href="{{ experience.documenturl }}">Download Experience Document</a></p>
    {% endif %}
  </article>
</div>
