{% include base_path %}

<div class="education-list">
  <div class="list__item">
    <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
      <h2 class="archive__item-title" itemprop="headline">
        <a href="javascript:void(0)" onclick="toggleDetails('{{ include.education.title | slugify }}')">{{ include.education.title }}</a>
        {% if include.education.URL %}
          <a href="{{ include.education.URL }}" target="_blank"><i class="fa fa-external-link" aria-hidden="true"></i><span class="sr-only">External Link</span></a>
        {% endif %}
        <a href="{{ base_path }}{{ include.education.url }}" rel="permalink"><i class="fa fa-link" aria-hidden="true" title="permalink"></i><span class="sr-only">Permalink</span></a>
      </h2>

      <div class="archive__item-details">
        <p><i>{{ include.education.venue }}</i> {{ include.education.from }} - 
          {% if include.education.to %}
            {{ include.education.to }}
          {% else %}
            present
          {% endif %}
        </p>
        {% if include.education.location %}
          <p>{{ include.education.location }}</p>
        {% endif %}

        <div class="archive__item-excerpt" itemprop="description">
          {{ experience.content | markdownify }}
        </div>

        <div id="{{ education.permalink | replace: '/', '-' }}" style="display:block;">
        {% if education.read_time %}
          <p class="page__meta"><i class="fa fa-clock-o" aria-hidden="true"></i> {{ education.read_time }} min read</p>
        {% endif %}
        
        {% if education.details %}
          <ul>
            {% for detail in education.details %}
              <li>{{ detail }}</li>
            {% endfor %}
          </ul>
        {% endif %}

        <div class="archive__item-excerpt" itemprop="description">
          {{ education.content | markdownify }}
        </div>

<script>
  function toggleDetails(id) {
    var element = document.getElementById(id);
    if (element.style.display === "none" || element.style.display === "") {
      element.style.display = "block";
    } else {
      element.style.display = "none";
    }
  }
</script>
