{% include base_path %}

<div class="list__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    {% if experience.teaser %}
      <div class="archive__item-teaser">
        <img src=
          {% if experience.teaser contains "://" %}
            "{{ experience.teaser }}"
          {% else %}
            "{{ experience.teaser | prepend: "/images/" | prepend: base_path }}"
          {% endif %}
          alt="">
      </div>
    {% endif %}

    <h2 class="archive__item-title" itemprop="headline">
      <a href="javascript:void(0)" onclick="toggleDetails('{{ experience.permalink | replace: '/', '-' }}')">{{ experience.title }}</a>
      {% if experience.URL %}
        <a href="{{ experience.URL }}" target="_blank"><i class="fa fa-external-link" aria-hidden="true"></i><span class="sr-only">External Link</span></a>
      {% endif %}
      <a href="{{ base_path }}{{ experience.url }}" rel="permalink"><i class="fa fa-link" aria-hidden="true" title="permalink"></i><span class="sr-only">Permalink</span></a>
    </h2>

    <div class="archive__item-details">
      <p><i>{{ experience.venue }}</i> {{ experience.from }} -
        {% if experience.to %}
          {{ experience.to }}
        {% else %}
          present
        {% endif %}
      </p>
      {% if experience.location %}
        <p>{{ experience.location }}</p>
      {% endif %}

      <div id="{{ experience.permalink | replace: '/', '-' }}" style="display:none;">
        {% if experience.read_time %}
          <p class="page__meta"><i class="fa fa-clock-o" aria-hidden="true"></i> {{ experience.read_time }} min read</p>
        {% endif %}
        
        {% if experience.details %}
          <ul>
            {% for detail in experience.details %}
              <li>{{ detail }}</li>
            {% endfor %}
          </ul>
        {% endif %}

        <div class="archive__item-excerpt" itemprop="description">
          {{ experience.content | markdownify }}
        </div>

        {% if experience.citation and experience.documenturl %}
          <p>Recommended citation: {{ experience.citation }}<br /><a href="{{ experience.documenturl }}">Download Experience Document</a></p>
        {% elsif experience.citation %}
          <p>Recommended citation: {{ experience.citation }}</p>
        {% elsif experience.documenturl %}
          <p><a href="{{ experience.documenturl }}">Download Experience Document</a></p>
        {% endif %}
      </div>
    </div>
  </article>
</div>

<script>
  function toggleDetails(id) {
    var element = document.getElementById(id);
    if (element.style.display === "none") {
      element.style.display = "block";
    } else {
      element.style.display = "none";
    }
  }
</script>
