{% include base_path %}

{% if certification.header.teaser %}
  {% capture teaser %}{{ certification.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if certification.id %}
  {% assign title = certification.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = certification.title %}
{% endif %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    {% if include.type == "grid" and teaser %}
      <div class="archive__item-teaser">
        <img src=
          {% if teaser contains "://" %}
            "{{ teaser }}"
          {% else %}
            "{{ teaser | prepend: "/images/" | prepend: base_path }}"
          {% endif %}
          alt="">
      </div>
    {% endif %}

    <h2 class="archive__item-title" itemprop="headline">
      {% if certification.URL %}
        <a href="{{ certification.URL }}">{{ title }}</a> <a href="{{ base_path }}{{ certification.url }}" rel="permalink"><i class="fa fa-link" aria-hidden="true" title="permalink"></i><span class="sr-only">Permalink</span></a>
      {% else %}
        <a href="{{ base_path }}{{ certification.url }}" rel="permalink">{{ title }}</a>
      {% endif %}
    </h2>
    
    {% if certification.read_time %}
      <p class="page__meta"><i class="fa fa-clock-o" aria-hidden="true"></i> {% include read-time.html %}</p>
    {% endif %}

    <p>Issued by <i>{{ certification['issued by'] }}</i> on {{ certification.date | date: "%B %d, %Y" }}</p>

    {% if certification.excerpt and site.read_more != 'enabled' %}
    <p class="archive__item-excerpt" itemprop="description">{{ certification.excerpt | markdownify }}</p>
    {% elsif certification.excerpt and site.read_more == 'enabled' %}
    <p class="archive__item-excerpt" itemprop="description"><p>{{ certification.excerpt | markdownify | remove: '<p>' | remove: '</p>' }}<strong><a href="{{ base_path }}{{ certification.url }}" rel="permalink"> Read more</a></strong></p></p>
    {% endif %}

    {% if certification.citation and certification.documenturl %}
      <p>Recommended citation: {{ certification.citation }}<br /><a href="{{ certification.documenturl }}">Download Certification Document</a></p>
    {% elsif certification.citation %}
      <p>Recommended citation: {{ certification.citation }}</p>
    {% elsif certification.documenturl %}
      <p><a href="{{ certification.documenturl }}">Download Certification Document</a></p>
    {% endif %}

  </article>
</div>
