{% include base_path %}

<div class="experience-list">
  <div class="list__item">
    <article class="archive__item">
      <h2 class="archive__item-title" itemprop="headline">
        <a href="javascript:void(0)" onclick="toggleDetails('{{ include.experience.title | slugify }}')">{{ include.experience.title }}</a>
        {% if include.experience.URL %}
          <a href="{{ include.experience.URL }}" target="_blank"><i class="fa fa-external-link" aria-hidden="true"></i><span class="sr-only">External Link</span></a>
        {% endif %}
        <a href="{{ base_path }}{{ include.experience.url }}" rel="permalink"><i class="fa fa-link" aria-hidden="true" title="permalink"></i><span class="sr-only">Permalink</span></a>
      </h2>

      <div class="archive__item-details">
        <p><i>{{ include.experience.venue }}</i> {{ include.experience.from }} - 
          {% if include.experience.to %}
            {{ include.experience.to }}
          {% else %}
            present
          {% endif %}
        </p>
        {% if include.experience.location %}
          <p>{{ include.experience.location }}</p>
        {% endif %}

        <div id="{{ include.experience.title | slugify }}" style="display:none;">
          {% assign excluded_keys = "title,collection,permalink,venue,from,to,location,URL,url" | split: ',' %}
          
          {% for key in include.experience %}
            {% unless excluded_keys contains key %}
              <h3>{{ key | capitalize }}</h3>
              <ul>
                {% for item in include.experience[key] %}
                  <li>{{ item }}</li>
                {% endfor %}
              </ul>
            {% endunless %}
          {% endfor %}
        </div>
      </div>
    </article>
  </div>
</div>

<script>
  function toggleDetails(id) {
    var element = document.getElementById(id);
    if (element.style.display === "none" || element.style.display === "") {
      element.style.display = "block";
    } else {
      element.style.display = "none";
    }
  }
</script>
